<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/barang-masuk']" routerLinkActive="router-link-active" >Report Barang Masuk <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/barang-keluar']" >Report Barang Keluar </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/penjualan']" >Report Penjualan Barang </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/stok-barang']" >Report Stok Barang </a>
      </li>
    </ul>
  </div>
</nav>
